<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mini http</title>
    {% include 'libs.html' %}
</head>
<body>
<div class="container">
    <h1>There're {{ players.__len__() }} players</h1>
    {% for player in players %}
        <h4>
            <a href="{{ url_for('board_player', name=player) }}" class="text-primary">{{ player }}</a>
        </h4>
        <p><a class="badge badge-danger" href="{{ url_for('board_kick', name=player) }}">Kick</a></p>
    {% endfor %}
    <p><a href="{{ url_for('board_json') }}">JSON format players</a>
    <a href="{{ url_for('board_yaml') }}">YAML format players</a></p>
</div>
</body>
</html>